<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>basename</key>
		<string>light_1-ip5</string>
		<key>rate</key>
		<string>24</string>
		<key>time</key>
		<array>
			<string>1</string>
			<string>7</string>
			<string>14</string>
			<string>21</string>
			<string>25</string>
			<string>29</string>
			<string>33</string>
			<string>37</string>
			<string>41</string>
			<string>48</string>
		</array>
	</dict>
	<dict>
		<key>basename</key>
		<string>light_2-ip5</string>
		<key>rate</key>
		<string>24</string>
		<key>time</key>
		<array>
			<string>1</string>
			<string>10</string>
			<string>17</string>
			<string>24</string>
			<string>45</string>
		</array>
	</dict>
	<dict>
		<key>basename</key>
		<string>light_3-ip5</string>
		<key>rate</key>
		<string>24</string>
		<key>time</key>
		<array>
			<string>1</string>
			<string>10</string>
			<string>16</string>
			<string>22</string>
			<string>28</string>
			<string>45</string>
		</array>
	</dict>
	<dict>
		<key>basename</key>
		<string>light_4-ip5</string>
		<key>rate</key>
		<string>24</string>
		<key>time</key>
		<array>
			<string>1</string>
			<string>10</string>
			<string>17</string>
			<string>25</string>
			<string>45</string>
		</array>
	</dict>
</array>
</plist>
